@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 620px) {
  .container {
    padding: 0 15px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

body,
html {
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-left: 15px;
}
@media (max-width: 780px) {
  .header__logo img {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .header__logo img {
    width: 60%;
  }
}
.header__content {
  min-height: calc(100vh - 36px);
  background-image: url("../../images/header-bg.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
  margin-top: -100px;
}
@media (max-width: 780px) {
  .header__content {
    margin-top: -80px;
  }
}
@media (max-width: 420px) {
  .header__content {
    margin-top: -60px;
    background-position: right 35% bottom 45%;
  }
}
.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  padding: 14px 88px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 112px;
  display: inline-block;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__content-btn:hover {
  background-color: #FFFFFF;
  color: #001E64;
}
@media (max-width: 620px) {
  .header__content-btn {
    margin-left: 92px;
    padding: 14px 48px;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}
@media (max-width: 420px) {
  .header__content-btn {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    padding: 10px 38px;
    font-size: 20px;
    margin-left: 52px;
  }
}
@media (max-width: 375px) {
  .header__content-btn {
    margin-left: 72px;
  }
}
@media (max-width: 320px) {
  .header__content-btn {
    margin-left: 52px;
    margin-bottom: 20px;
  }
}
.header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 420px) {
  .header__content-box {
    position: absolute;
    right: -20px;
    bottom: 25px;
  }
}
.header__content-link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 21px;
}
.header__content-link:first-child::after {
  content: "/";
}
.header__content-link--active {
  font-weight: 700;
}
.header__content li:nth-child(n+10) button::before {
  content: "";
}
.header__slider {
  max-width: 522px;
  padding: 57px 0 135px 112px;
}
@media (max-width: 620px) {
  .header__slider {
    max-width: 522px;
    padding: 37px 0 105px 92px;
  }
}
@media (max-width: 620px) and (max-width: 420px) {
  .header__slider {
    max-width: 300px;
    padding: 17px 0 35px 52px;
  }
}
.header__slider-item {
  margin-bottom: 30px;
}
.header__slider-item:first-child {
  padding-top: 30px;
}
.header__slider-text {
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
}
@media (max-width: 620px) {
  .header__slider-text {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .header__slider-text {
    margin-top: 15px;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .header__slider-text {
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .header__slider-text {
    margin-left: 0;
  }
}

.slick-dots {
  position: absolute;
  top: 55px;
  left: 35px;
  bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 420px) {
  .slick-dots {
    left: 15px;
  }
}
.slick-dots button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #fff;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.slick-dots button::before {
  content: "0";
}

@media (max-width: 620px) {
  .logo-img {
    width: 90%;
    height: auto;
  }
}

.menu__list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 970px) {
  .menu__list {
    padding: 0 10px 30px 10px;
    position: absolute;
    left: 157px;
    right: 80px;
    background-color: #fff;
    display: block;
    top: -550px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.97;
  }
}
@media (max-width: 420px) {
  .menu__list {
    width: 100%;
    left: 0;
    right: 0;
  }
}
.menu__list--active {
  top: 35px;
  z-index: 1;
}
@media (max-width: 620px) {
  .menu__list--active {
    top: 15px;
  }
}
@media (max-width: 780px) {
  .menu__list--active {
    padding-top: 15px;
    top: -20px;
  }
}
@media (max-width: 420px) {
  .menu__list--active {
    padding-top: 15px;
    top: -20px;
  }
}
.menu__item + .menu__item {
  margin-left: 30px;
}
@media (max-width: 970px) {
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 5px;
  }
}
.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #001E64;
}
.menu__link:hover {
  border-bottom: 1px solid #001E64;
}
@media (max-width: 970px) {
  .menu__link:hover {
    border-bottom: 1px solid transparent;
  }
}
@media (max-width: 970px) {
  .menu__link {
    display: block;
    text-align: center;
    padding: 15px 0;
  }
}

.phone {
  margin-right: 40px;
  margin-top: 20px;
}
@media (max-width: 970px) {
  .phone {
    display: none;
  }
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
  color: #001E64;
  max-width: 589px;
  padding: 110px 0 0 80px;
  margin-bottom: 10px;
}
@media (max-width: 970px) {
  .title {
    font-size: 50px;
    line-height: 75px;
    padding: 110px 0 0 45px;
  }
}
@media (max-width: 780px) {
  .title {
    padding: 120px 0 0 20px;
    max-width: 489px;
  }
}
@media (max-width: 620px) {
  .title {
    padding: 100px 0 0 10px;
    max-width: 369px;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .title {
    padding: 100px 0 0 10px;
    max-width: 369px;
    font-size: 30px;
    line-height: 35px;
    margin-top: 20px;
  }
}
@media (max-width: 375px) {
  .title {
    padding: 110px 0 0 10px;
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .title {
    padding: 110px 0 0 10px;
    margin-bottom: 30px;
  }
}

.menu__btn {
  background: transparent;
  display: none;
}
@media (max-width: 970px) {
  .menu__btn {
    display: block;
    z-index: 2;
  }
}
@media (max-width: 420px) {
  .menu__btn {
    position: absolute;
    z-index: 2;
    right: 10px;
  }
}
.menu__btn svg {
  width: 60px;
  height: 40px;
}
@media (max-width: 620px) {
  .menu__btn svg {
    height: 30px;
    width: 50px;
  }
}
.menu__btn svg:hover path {
  fill: #6281f6;
}

.menu__list .menu__list-active {
  top: 35px;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}
@media (max-width: 420px) {
  .slick-prev,
.slick-next {
    left: 20px;
  }
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-active button {
  opacity: 1;
}

.product {
  padding-top: 70px;
}
@media (max-width: 970px) {
  .product {
    padding-top: 40px;
  }
}
.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 970px) {
  .product__inner {
    display: block;
  }
}
@media (max-width: 970px) {
  .product__name .slick-dots {
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0 10px 30px;
  }
  .product__name .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin-left: 10px;
  }
  .product__name .slick-active button {
    width: 15px;
    height: 15px;
    background-color: #001E64;
  }
}
.product__name {
  width: 510px;
  padding-top: 41px;
}
@media (max-width: 1170px) {
  .product__name {
    width: 350px;
  }
}
@media (max-width: 970px) {
  .product__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #232222;
  cursor: pointer;
  font-weight: 400;
}
@media (max-width: 970px) {
  .product__name-item {
    line-height: 40px;
    height: 80px;
  }
}
@media (max-width: 780px) {
  .product__name-item {
    margin: 0 20px;
  }
}
.product__name-item + .product__name-item {
  margin-top: 30px;
}
@media (max-width: 970px) {
  .product__name-item + .product__name-item {
    margin-top: 0;
  }
}
.product__content {
  width: 600px;
}
@media (max-width: 970px) {
  .product__content {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .product__content {
    width: 100%;
  }
}
.product__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 620px) {
  .product__content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.product__content-img {
  display: block;
  height: auto;
  width: 40%;
}
.product__content-list {
  width: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 420px) {
  .product__content-list {
    width: 100%;
    margin: 0 auto;
  }
}
.product__content-description {
  margin-bottom: 30px;
}
@media (max-width: 620px) {
  .product__content-description {
    margin-bottom: 10px;
  }
}
.product__content-description span {
  font-family: "Roboto Slab", serif;
  display: block;
  margin-bottom: 10px;
  color: #001E64;
}
.product__content-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  color: #001E64;
  line-height: 32px;
  padding-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 620px) {
  .product__content-title {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
.product__content-text {
  margin-bottom: 25px;
}
.product__content-btn {
  display: inline-block;
  padding: 11px 85px;
  border: 1px solid #001E64;
  font-family: "Roboto Slab", serif;
  color: #001E64;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product__content-btn:hover {
  background-color: #001E64;
  color: #fff;
}
@media (max-width: 420px) {
  .product__content-btn {
    padding: 11px 55px;
    display: block;
    margin: 0 auto;
  }
}

.product__name-item.slick-current {
  font-weight: 700;
  color: #001E64;
  font-size: 36px;
}
@media (max-width: 970px) {
  .product__name-item.slick-current {
    font-size: 30px;
  }
}
@media (max-width: 620px) {
  .product__name-item.slick-current {
    font-size: 30px;
  }
}

.product-prev,
.product-next {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-prev {
  top: 0;
}

.seefood-box {
  background-image: url("../../images/seefood-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 190px 0 95px 0;
}
@media (max-width: 780px) {
  .seefood-box {
    padding: 80px 0 55px 0;
  }
}
@media (max-width: 420px) {
  .seefood-box {
    min-height: 200px;
    padding: 0 0 50px 0;
  }
}
.seefood-box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 780px) {
  .seefood-box-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 120px;
  }
}
@media (max-width: 420px) {
  .seefood-box-items {
    display: none;
  }
}
.seefood-box-item {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 180px;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../../images/shell.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 780px) {
  .seefood-box-item {
    width: 100px;
    min-height: 85px;
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.seafood {
  margin-top: 50px;
}
.seafood__items {
  margin-bottom: 80px;
}
@media (max-width: 420px) {
  .seafood__items {
    margin-bottom: 30px;
  }
}
.seafood__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 970px) {
  .seafood__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 420px) {
  .seafood__item {
    margin-bottom: 20px;
  }
}
.seafood__item-img {
  width: 100%;
  display: block;
  height: auto;
}
.seafood__item-content {
  margin-right: 180px;
}
@media (max-width: 1170px) {
  .seafood__item-content {
    width: 100%;
    padding-right: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 970px) {
  .seafood__item-content {
    padding-right: 0;
    margin-right: 0;
  }
}
.seafood__item-title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  color: #001E64;
  max-width: 490px;
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  .seafood__item-title {
    width: 100%;
  }
}
@media (max-width: 970px) {
  .seafood__item-title {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .seafood__item-title {
    margin-bottom: 10px;
  }
}
.seafood__item-text {
  max-width: 420px;
  margin-bottom: 20px;
}
@media (max-width: 970px) {
  .seafood__item-text {
    max-width: 100%;
  }
}
@media (max-width: 970px) {
  .seafood__item--text-right {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
.seafood__item--text-right .seafood__item-title {
  max-width: 420px;
}
@media (max-width: 970px) {
  .seafood__item--text-right .seafood__item-title {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 1170px) {
  .seafood__item--text-right .seafood__item-content {
    margin-left: 10px;
    padding-left: 20px;
    width: 100%;
  }
}
@media (max-width: 970px) {
  .seafood__item--text-right .seafood__item-content {
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 970px) {
  .seafood__item--text-right .seafood__item-text {
    max-width: 100%;
  }
}
.seafood__blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.seafood__blockquote-img {
  width: 100%;
  display: block;
  height: auto;
}
.seafood__blockquote-text {
  max-width: 628px;
  margin: 0 auto;
  font-size: 18px;
}

.contacts {
  background-image: url("../../images/contacts.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.contacts__box {
  margin-left: auto;
  width: 390px;
  background-color: rgba(224, 223, 223, 0.56);
  padding: 33px 0 33px 20px;
}
@media (max-width: 420px) {
  .contacts__box {
    width: 100%;
    padding: 25px 0 15px 10px;
  }
}
.contacts__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #001E64;
  margin-bottom: 30px;
}
@media (max-width: 420px) {
  .contacts__box-text {
    margin-bottom: 10px;
  }
}
.contacts__box-item {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #232222;
  margin-bottom: 30px;
}
.contacts__box-item span {
  display: block;
  margin-top: 50px;
}
.contacts__box-link {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #232222;
}

.footer {
  padding: 25px 0 110px 0;
}
@media (max-width: 1170px) {
  .footer {
    padding: 25px 0 50px 0;
  }
}
@media (max-width: 970px) {
  .footer {
    padding: 25px 0;
  }
}
.footer .menu__link {
  color: #000;
}
.footer .menu__link:hover {
  color: #000;
  border-bottom: 1px solid #000;
}
.footer .menu__item + .menu__item {
  margin-left: 10px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 970px) {
  .footer-social__list {
    margin-left: 30px;
  }
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__link path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-social__link:hover path {
  fill: #001E64;
}
@media (max-width: 420px) {
  .footer-social__link svg {
    width: 24px;
    height: 30px;
  }
}